$r0: 0.9
$r: 0.7
$r2: 0.85

#init
    position: fixed
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-60%)

    .content
        background: none

        p
            display: block
            color: white
            overflow: hidden
            white-space: nowrap
            width: 0

            &:nth-child(1)
                animation: typing 3.5s steps(12, end) forwards
            &:nth-child(2)
                animation: typing 3.5s 3.5s steps(21, end) forwards
            &:nth-child(3)
                animation: typing 3.5s 7s steps(14, end) forwards

@keyframes typing
  from
    width: 0
  to
    width: 100%

#init-popup,#init-music-popup
    position: fixed
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-55%)
    margin-top: -100px
    visibility: hidden
    opacity: 0
    transition: opacity,margin .8s ease

    &.active
        visibility: initial
        opacity: 1
        margin-top: 0



#init-select-car
    min-height: 100vh
    background: linear-gradient(0deg, rgba(#0030FF,.5) 0%,rgba(#C5C1DE,.5) 10%,rgba(#F5E4D7,.5) 30%,#FFFFFF 40%) 0% 0% no-repeat
    box-sizing: border-box

    // font-family: ロックンロール One


#timer
    position: fixed
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    display: none

    .timer2,.timer3
        position: absolute
        top: 0
        left: 0

.select-msg
    max-width: 1320px * $r
    margin: 50px auto 40px

    .bg
        width: 100%
        background: linear-gradient(90deg, #13E5CA 0%,#FF72D9 100%) 0% 0% no-repeat
        padding: 5px
        box-sizing: border-box
    .content
        background-color: #fff
        overflow: hidden
        padding: 0 20px

        p
            display: inline-block
            font-size: 30px
            line-height: 1.5

            b
                font-weight: normal
                color: #FF00FF

    .word-flex
        display: flex
        width: 100%
        align-items: center
        text-align: center

        +maxDesktop
            display: block
            padding-top: 20px

            p
                margin: 0
                margin-bottom: 10px
                
                +maxPad
                    font-size: 24px

        .item
            flex: auto
            &:nth-child(2)
                color: #FF72D9

            +maxDesktop
                &:nth-child(2),&:nth-child(3)
                    display: inline-block
        .btn-start
            flex: 180px
            max-width: 180px
            padding-left: 20px
            opacity: 0
            transition: all .3s ease
            visibility: hidden

            +maxDesktop
                padding-left: 0
                margin: 0 auto 20px

            +maxPad
                max-width: 130px

            &.show
                opacity: 1
                visibility: initial
            img
                max-width: 100%


.car-options
    display: flex
    align-items: baseline

    +maxDesktop
        margin-top: -50px

    +phone
        margin-top: 0
    a
        display: block
        color: #2C2A2A
        text-decoration: none
        text-align: center
        
    .select-item
        flex: 50%
        position: relative
        color: #2C2A2A
        font-size: 30px

        img,svg
            max-width: 100%
            margin-top: -60px

            +phone
                margin-top: 0

            .light
                opacity: 0
                transition: all .5s ease

        &:nth-child(1) img,&:nth-child(1) svg
            transform: scale(1.1)
            +maxDesktop
                transform: scale(1.3)

        &:nth-child(2) img,&:nth-child(2) svg
            +maxDesktop
                transform: scale(1.2)


        a:hover
            svg .light
                opacity: 1
        a.active
            svg .light
                opacity: 1
            p
                opacity: 1

    p
        margin-top: -200px
        opacity: 0
        user-select: none
        transition: all .5s ease

        +maxDesktop
            margin-top: -120px
        +phone
            margin-top: 30px
        +iphone
            font-size: 24px
            margin-top: -30px
    svg
        +maxDesktop
            height: 550px
        +phone
            width: 100%
            height: 200px

#init-select-car
    overflow: hidden

.popup-box
    max-width: 1000px
    width: 100%
    margin: 0 auto 30px
    position: relative
    z-index: 5000
    user-select: none

    +maxDesktop
        width: 90%

    .bg
        position: relative
        width: 100%
        border-left: 6px solid #13E5CA
        border-right: 6px solid #FF72D9
        box-sizing: border-box

        &:before
            content: ""
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 6px
            background: linear-gradient(90deg, #13E5CA 0%,#FF72D9 100%)

        &:after
            content: ""
            display: block
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            height: 6px
            background: linear-gradient(90deg, #13E5CA 0%,#FF72D9 100%)

    .content
        background-color: #fff
        overflow: hidden
        padding: 20px
        padding-bottom: 30px

        +maxPad
            padding: 20px 15px

        p
            font-size: 30px
            line-height: 1.5
            +maxPad
                font-size: 24px

            +phone
                font-size: 18px
            b
                font-weight: normal
                color: #FF00FF


    .right-btn
        text-align: right
        &::after
            content: ""
            display: block
            clear: both
        img
            display: inline-block

            +maxPad
                display: block
                width: 80%
                float: right

        .more-text
            +maxPad
                display: block
                width: 40%
                float: left
                margin-top: 15px
            
    .center
        max-width: 82%
        margin: 0 auto

        +maxPad
            max-width: 90%
    .more-text
        width: 262px * $r
        vertical-align: bottom
        margin-right: 10px
    .btn-gogo
        display: inline-block
        width: 252px * $r

        a
            display: inline-block

        img
            max-width: 100%
            vertical-align: bottom

.button
    position: absolute
    bottom: 100px
    left: 50%
    transform: translateX(-40%)
    width: 200px
    height: 200px
    color: white
    z-index: 50000
    cursor: pointer
    user-select: none
    animation: flashing 800ms linear infinite
    background: url(../images/btn-dodge.svg) no-repeat center center
    background-size: contain


@keyframes flashing
    0% 
        opacity: 1
    50% 
        opacity: 0
    100% 
        opacity: 1

//選擇音樂
#init-music-popup

    &.popup-box .center
        +maxDesktop
            max-width: 90%

    .content
        background: none
    p
        margin: 0
        margin-bottom: 30px
        margin-top: 50px
        color: #fff
        font-size: 42px * $r
        line-height: 1.5
        text-align: center

        +maxDesktop
            font-size: 26px
            margin-top: 30px
            margin-bottom: 30px

        +phone
            font-size: 20px
            margin-top: 10px
            margin-bottom: 10px

        &.notice-msg
            color: #46ECDC
            font-size: 20px
            line-height: 1.5
            margin: 0
            margin-top: 20px

            +phone
                font-size: 16px

        b
            color: #FFA3D9


.choose-music
    display: flex
    align-items: center

    .left,.right
        position: relative
        flex: 50%
        padding: 0 30px
        box-sizing: border-box

        +maxPad
            padding: 0 15px


    .music-sample
        position: relative
        max-width: 300px

        +maxDesktop
            max-width: 80%

        +phone
            width: 100px
            max-width: 100%
            margin: 0 auto
        div
            position: absolute
            top: 0
            left: 0
            opacity: 0
            transition: all .4s ease

            &:nth-child(1)
                position: relative

            &.active
                opacity: 1

        img
            max-width: 100%


.btn-playgame
    width: 249px *$r
    margin: 0 auto

    +phone
        width: 120px

    img
        max-width: 100%

.music-menu
    color: white
    font-size: 28px
    font-family: 'Noto Sans TC',"微軟正黑體", sans-serif
    font-weight: 600
    line-height: 1.5
    margin: 0
    padding-left: 0
    text-align: center
    margin-bottom: 60px
    margin-top: 80px

    +maxDesktop
        font-size: 22px
        margin-top: 20px
        margin-bottom: 20px

    +phone
        font-size: 16px

    ol
        margin: 0
        padding: 0

    li
        list-style: none
        
        +phone
            margin-bottom: 10px

        &.active 
            .ico
                opacity: 1
            
            a
                color: #46ECDC


        &:hover a
            color: #46ECDC

        .ico
            width: 20px
            margin-right: 20px
            opacity: 0
            transition: all .4s ease
            margin-left: -50px

            +maxPad
                width: 15px
                margin-left: -20px
    

    a
        color: white
        text-decoration: none
        transition: all .4s ease


// font-family: 'Dela Gothic One', cursive

.overlay
    position: fixed
    top: 0
    left: 0
    width: 100%
    bottom: 0
    background-color: rgba(#000000,.8)
    z-index: 3500

.topic-box
    padding: 20px
    border: 4px solid #000B72
    max-width: 1000px
    width: 100%
    margin: 0 auto
    border-radius: 50px
    position: relative
    z-index: 2000
    background-color: rgba(white,.85)
    user-select: none

    p.title
        color: black
        font-size: 30px
        font-family: 'Noto Sans TC',"微軟正黑體", sans-serif
        font-weight: 600
        line-height: 1.5
        text-align: center
        margin: 20px 0 40px

    // .center
    //     padding-left: 20px
    //     padding-right: 20px

    .topic-option
        display: flex
        width: 100%
        align-items: stretch
        margin-bottom: 10px

    .option
        flex: 1
        display: flex
        align-items: stretch
        border: 3px solid black
        border-radius: 18px
        margin: 0 15px
        min-height: 50px
        color: black
        text-decoration: none

        &:hover
            background-color: #FFF645

        .number
            display: flex
            align-items: center
            justify-content: center
            flex: 50px
            max-width: 50px
            min-width: 50px
            color: black
            font-size: 30px
            text-align: center
            text-decoration: none
            border-right: 3px solid black
            font-family: 'Dela Gothic One', Arial, Helvetica, sans-serif
            font-weight: 600
            

        .desc
            text-decoration: none
            color: black
            padding: 10px 15px
            font-size: 18px
            font-family: 'Noto Sans TC',"微軟正黑體", sans-serif
            font-weight: 700
            line-height: 1.2
            display: flex
            align-items: center



#init-game-bg
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    // background: url(../images/game-bg.png) no-repeat center
    background-color: black
    background-size: cover
    z-index: 100


.topic-box
    position: fixed
    left: 50%
    transform: translateX(-50%)
    z-index: 2000
    top: -100px
    transition: all .5s ease
    opacity: 0
    visibility: hidden

    &.active
        top: 50px
        opacity: 1
        visibility: initial

#game-animation
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden
    user-select: none
    pointer-events: none

    video
        pointer-events: none
        opacity: 0
        width: 100%
        height: 100%
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        object-fit: cover
        object-position: center

        &.active
            opacity: 1
        
        &::-webkit-media-controls
            display: none !important


.vsc-controller
    display: none !important

#audio-select
    position: fixed
    bottom: 30px
    left: 30px
    width: 60px
    height: auto
    z-index: 5000
    display: none

    +maxDesktop
        bottom: -20px
        left: 60px
        transform: rotate(90deg)

    +maxPad
        left: 60px

    a
        display: block
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 50%
        z-index: 50

        &.down
            top: calc(50% + 5px)

    img,svg
        max-width: 100%
        height: auto

    .volume
        position: absolute
        bottom: 0
        left: 0
        width: 100%
        .volume-path
            opacity: 0

        &.volume-20
            .volume1
                opacity: 1
        &.volume-40
            .volume1,.volume2
                opacity: 1
        &.volume-60
            .volume1,.volume2,.volume3
                opacity: 1
        &.volume-80
            .volume1,.volume2,.volume3,.volume4
                opacity: 1
        &.volume-100
            .volume-path
                opacity: 1


#game-result
    position: fixed
    top: 0
    left: 0
    width: 100%
    bottom: 0
    z-index: 5000
    background: linear-gradient(0deg, rgba(#B3E2D0,1) 0%,rgba(#EEC7D8,1) 30%,rgba(#F7E9DE,1) 40%,#FDFAF8 100%)
    display: none


    .licence
        position: relative

    .result-name
        position: absolute
        top: 75px
        left: 260px
        width: 210px
        height: 40px
        appearance: none
        font-size: 16px
        line-height: 1
        border: none
        z-index: 20

        &:focus
            outline: none

    .row
        display: flex
        margin-left: -15px
        margin-right: -15px
        .col
            flex: 50%
            padding: 0 15px
            box-sizing: border-box

            &:nth-child(2)
                flex: 45%

        img
            max-width: 100%

    .btns
        display: flex
        margin-top: 20px
        a
            padding: 0 15px
            flex: 50%

        img
            max-width: 100%
    
    #header-game
        text-align: left
        padding-right: 20px
    .game-title
        padding-left: 30px
        padding-top: 10px
        img
            max-width: 400px

    .content
        max-width: 1000px
        margin: 0 auto
        padding-top: 70px

        +desktop_sm
            max-width: 1100px

        +desktop_xl
            max-width: 1400px

        img
            max-width: 100%